body{
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.chat{
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  color: #6E6E6E;
}
.chat-body{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color:#FBF5EF;
}
.chat-title{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:5%;
  border-bottom: 1px solid #CCC;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.chat-title-name{
  padding: 10px;
}
.chat-title-button{
  padding: 10px;
}
.chat-msg{
  width: 100%;
  height:85%;
  border-bottom: 1px solid #CCC;
  overflow-y: auto;
  overflow-x: none;
  background-color: #f1f1f1;
}
::-webkit-scrollbar {
  width:6px;
}
::-webkit-scrollbar-track {
  background:#f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #98c453;
  border-radius: 2px;
}

.chat-msg-item{
  display: flex;
}

.chat-info{
  width: 20%;
  min-width: 300px;
  height: 100%;
  border-left: 1px solid #CCC;
}
.chat-footer{
  height: 10%;
  display: flex;
  align-items:center;
  background-color: #f1f1f1;

}

.chat-footer-center{
  margin-left: 15px;
  flex: 1;
}
.chat-footer-input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  border:0;
  background-color:#FFF;
  font-size:18px;
  color: #4a4a4a;
  padding-left: 15px;
}
.chat-footer-right{
  display:flex;
  margin-left: 40px;
  margin-right: 20px;
}
.chat-footer-btn{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  
}
.chat-info{
  display: flex;
  flex-direction: column;
}
.info-atendimento{
  border-bottom: 2px solid #98c453;
  height: 5%;
  width: 100%;
}
.info-atendimento p{
  display:flex;
  justify-content: center;
}
.info-body{
  display: flex;
  flex-direction: column;
  margin:0;
  height: 100%;
  background-color: #fff;
  width: 100%;
  align-items:center;

}
.info-body-item{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  border-radius:5px;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 10px;

}
.info-button{
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  flex-direction:row;
}