.mensagemArea{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 2px solid #98c453;
  word-wrap: break-word;
}
p{
  max-width: 100%;
}